# Folders to ignore
/build
/node_modules
/coverage
/tmp
/logs
src/documents

# File extensions to ignore
*.bak
*.db
*.log

# ENV files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Helpers to ignore
helper.txt